<% title "Preview" %>
<h1>Report Preview</h1>
<p>
	Name: <%=@report.name%></br>
	Long: <%=@report.longitude%></br>
	Lat: <%=@report.latitude%></br>
	Desc: <%=@report.description%></br>
</p>
<%=link_to "Send" ,email_report_path(id: @report.id), class: 'btn btn-primary' %>
